.Banner {
    background-color: #7899b3;
    width: 75%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100px;
    border-radius: 8px;
    padding: 10px 20px;
}

.Title {
    color: #fff;
    font-size: 44px;
    font-family: impact;
    margin: 0;
}

.ButtonContainer {
    display: flex;
    gap: 15px;
}

.BannerButton {
    background-color: #7899b3;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.BannerButton:hover {
    background-color: #78b392;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #000;
    margin: 5% 0px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }